body, html {
  height: 100%;
	margin: 0;
  background-size: cover;
  font-family: 'Marck Script', 'Lucida Handwriting';
  color: #777;
  overflow-x: hidden;
}

div {
  display: block;
}

.bg-logo {
 color: white;
 position: absolute;
 margin: auto;
 left: 10%;
 right: 10%;
 top: 20%;
 z-index: 3;
 width: 700px;
 padding: 1px;
 text-align: center;
}

.end-logo {
 color: white;
 position: absolute;
 margin: auto;
 left:20%;
 right: 20%;
 top: 35%;
 z-index: 8;
 width: 700px;
 padding: 1px;
 text-align: center;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.75;
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.bgimg-1 {
  background-image: url(https://images.unsplash.com/photo-1440581572325-0bea30075d9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  min-height: 100%;
  max-width: 100%;
}

.bgimg-2 {
  background-image: url(https://images.unsplash.com/photo-1503435824048-a799a3a84bf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80);
  min-height: 100%;
  max-width: 100%;
}

.bgimg-3 {
  background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
  min-height: 100%;
  max-width: 100%;
}

.bgimg-4 {
  background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=841&q=80);
  min-height: 100%;
  max-width: 100%;
}

.bgimg-5 {
  background-image: url(https://images.unsplash.com/photo-1506806770414-b0e5db562f56?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI5fHxjcmFmdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
  min-height: 100%;
  max-width: 100%;
}

.contactimg {
background-image: url(https://images.unsplash.com/photo-1524668951403-d44b28200ce0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);
height: auto;
width: 1800px;
z-index: -1;
position: relative;
opacity: 0.75;
left: 0;
right: 0;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
z-index: 2;
overflow-x: hidden;
}

.caption1 {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 10;
  margin: 20px;
}

.caption1 span.border {
  background-color: #3D091B;
  opacity: .8;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 5px;
  z-index: 12;
  border-radius: 30px;
}

.caption1 span.border:hover {
  background-color: #364F40;
  opacity: 1;
  cursor: pointer;
  color: floralwhite;
}

.caption2 {
  position: absolute;
  margin: 0px;
  top: 0em;
  left: 0em;
  padding: 20px 1000px 20px 20px;
  width: 100%;
  text-align: left;
  color: #000;
  z-index: 10;
  opacity: .7;
}

.caption2 span.border {
  float: left;
  width: 100%;
  background-color: #2D0611;
  color: #fff;
  padding: 0px 1010px 10px 15px;
  font-size: 25px;
  letter-spacing: 5px;
  z-index: 12;
}

span.border::first-letter {
   font-family: 'Marck Script', 'Lucida Handwriting';
   font-size: 40px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .5em;
   padding-bottom: 2px;
}

.caption3 {
  position: absolute;
  margin: 20px;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 10;
}

.caption3 span.border {
  background-color: #111;
  margin: 20px;
  color: #fff;
  padding: 40px;
  font-size: 20px;
  letter-spacing: 10px;
  z-index: 12;
}

h3 {
  letter-spacing: 5px;
  font: 25px 'Marck Script', 'Lucida Handwriting';
  color: #111;
  margin-left: 10px;
}

h1 {
  letter-spacing: 1px;
  font: 50px 'Marck Script', 'Lucida Handwriting';
  color: #111;
  margin-left: 10px;
  font-weight: lighter;
}

.about p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    font-family: 'Josefin Slab';
    font-style: normal;
    font-weight: bold;
    line-height: 2;
}

.about h3::first-letter {
   font-family: 'Marck Script', 'Lucida Handwriting';
   font-size: 60px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .5em;
   padding-bottom: 2px;
}

.about h1::first-letter {
   font-family: 'Marck Script', 'Lucida Handwriting';
   font-size: 70px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .8em;
   padding-bottom: 2px;
   padding-right: 0px;
   font-variant: small-caps;
}

p {
  z-index: 12;
}

/* Top navigation bar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #364F40;
  opacity: .85;
  overflow: hidden;
  font-family: 'Marck Script', 'Lucida Handwriting';
  top: 0;
  left: 0;
  z-index: 8;
}

.navbar a {
  float: left;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Marck Script', 'Lucida Handwriting';
  z-index: 12;
  opacity: none;
}

.navbar a:hover {
  font-weight: bold;
  color: HoneyDew;
  font-size: 23px;
}

.navbar ion-icon {
  color: HoneyDew;
  opacity: none;
  z-index: 12;
}

.navbar ion-icon:hover {
  color: YellowGreen;
}

.active {
  font-style: italic;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

/*side navigation */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: 8;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  z-index: 8;
}

.sidenav a:hover {
  background-color: #2B0611;
  color: #818181;
}

.main {
  margin-left: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.grid img {
  border: 10px color: transparent;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 20%;
  display: grid;
  align-items: center;
  overflow: hidden;
}

/* This is just for the little down arrow under "scroll down" */
.intro {
  display: block;
	position: relative;
	color: white;
	padding: 0;
  z-index: 15;
  margin-top: 25%
}

.intro a {
	border: none;
  display: block;
  top: 80%;
	position: relative;
	left: 45%;
  right: 45%;
	width: 25px;
  height: 25px;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

.intro img:hover {
	opacity: 100;
  image-orientation: 90deg;
  box-shadow: 0 0 10px #ccc;
  width: 30px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* contact section */
.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  a :link {
    color: white;
    text-decoration: none;
    z-index: 10;
  }

  a :visited {
    color: #E3E3E3;
    text-decoration: none;
    z-index: 10;
  }

  a :hover {
    color: #E3E3E3;
    text-decoration: none;
    z-index: 10;
    }

  a :active {
    color: #E3E3E3;
    text-decoration: none;
    z-index: 10;
    }

ion-icon {
  color: white;
}
