body, html {
  height: 100%;
  opacity: 1;
	margin: 0;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif 'Verdana', sans-serif;
  overflow-x: hidden;
  z-index: 1;
  transition: background-color .5s;
}

div {
  display: block;
}

.printdesigns {
  display: inline-block;
  z-index: 12;
  margin-inline-start: 1px;
  margin-block-start: 5%;
}

section  {
  padding: 0em;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 350px);
  grid-gap: 20px 20px;
  position: relative;
  margin-top: 5px;
}

.grid-item {
  padding: 10px;
}

.grid img {
  width: 100%;
}

.grid1 {
  display: inline-grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px 20px;
}

.grid1-item {
  padding: 10px;
}

.grid1 img {
  width: 100%;
}

.grid-art {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 490px);
  grid-gap: 10px 10px;
  justify-items: center;
}

.grid-item-art {
  padding: 5px;
}

.grid-art img {
  height: 100%;
}

.grid-video {
  display: inline-grid;
  margin-inline-start: 7%;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px 20px;
  padding-bottom: 120px;
}

.grid-video-item {
  padding: 10px;
}

 /*Modal Display*/
.row > .column {
  padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  z-index: 6;
  opacity: 1;
}

.printdesigns .column {
  width: 33%;
  display: flex;
  z-index: 12;
}

/* The Modal (background) */
.modal {
  display: none;
  left: 10%;
  position: fixed;
  padding-top: 100px;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 1;
  z-index: 20;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  max-width: 800px;
  z-index: 21;
  opacity: 1;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 60px;
  font-weight: bold;
  z-index: 25;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  z-index: 25;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #2D0611;
  background-color: floralwhite;
  opacity: .6;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  margin-bottom: 17px;
  z-index: 50;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.demo:hover {
  opacity: 1;
}

img .hover-shadow {
  transition: 0.3s;
  z-index: 25;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: zoom-in;
  z-index: 25;
}

.mediakit {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}

.mediakit .row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.mediakit .column {
  flex: 50%;
  margin-top: 0;
  width: 100%;
}

.end-logo {
 color: white;
 position: absolute;
 margin: auto;
 left: 20%;
 right: 20%;
 top: 35%;
 z-index: 6;
 width: 700px;
 padding: 1px;
 text-align: center;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  left: 0;
  right: 0;
  object-fit: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

 .bgimg-1_2, .bgimg-3_1, {
  position: sticky;
  left: 0;
  right: 0;
  background-attachment: scroll;
  background-position: initial  ;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

/*portfolio logo*/
.bgimg-1 {
  background-image: url('../images/background.jpg');
  min-height: 100%;
  max-width: 100%;
  margin-top: 2%;
  z-index: 4;
}

/*key skills*/
.bgimg-1_2 {
  background-image: url('../images/background1.2.jpg');
  max-width: 100%;
  min-height: 100%;
  z-index: 4;
}

.bgimg-2 {
  background-image: url('../images/squiggle.jpg');
  max-width: 100%;
  z-index: 4;
}

.bgimg-2_1 {
  background-image: url('../images/bgimg-2.jpg');
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  z-index: 4;
}

.bgimg-3 {
  background-image: url('../images/bgimg-3.jpg');
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  z-index: 4;
}

.bgimg-3_1 {
  background-image: url('../images/bgimg-3.jpg');
  min-height: 100%;
  max-width: 100%;
  z-index: 4;
}

.bgimg-4 {
  background-image: url('../images/bgimg-6.jpg');
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  z-index: 4;
}

.bgimg-4_1 {
  background-image: url('../images/bgimg-1.jpg');
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  z-index: 4;
}

.bgimg-5 {
  background-image: url('../images/bgimg-4.jpg');
  min-height: 100%;
  max-width: 100%;
  background-size: cover;
  z-index: 4;
}

.contactimg {
background-image: url(https://images.unsplash.com/photo-1524668951403-d44b28200ce0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);
height: auto;
width: 1800px;
z-index: 1;
position: relative;
opacity: 0.75;
left: 0;
right: 0;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
overflow-x: hidden;
}

.caption1 {
  position: relative;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 10;
}

.caption1 span.border {
  background-color: rgb(35 35 35 / 90%);
  opacity: .8;
  color: #ddd;
  padding: 20px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  z-index: 10;
  border-radius: 15px;
}

.caption1 span.border a:hover {
  background-color: #364F40;
  opacity: 1;
  cursor: pointer;
  color: floralwhite;
  z-index: 8;
}

.caption1 a:link {
  color: white;
  text-decoration: none;
  z-index: 8;
}

.caption2 {
  position: absolute;
  margin: 10px;
  top: 0em;
  left: 0em;
  padding: 10px 10px 10px 10px;
  text-align: left;
  color: #000;
  z-index: 5;
  opacity: .7;
}

.caption2 span.border {
  color: #fff;
  padding: 5px 5px 5px 5px;
  font-size: 35px;
  letter-spacing: 5px;
  z-index: 5;
}

span.border::first-letter {
   font-family: 'Lobster', cursive;
   font-size: 40px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .5em;
   padding-bottom: 2px;
}

.caption3 {
  position: relative;
  top: 5%;
  margin-top: -50px;
  width: 100%;
  text-align: center;
  z-index: 8;
}

.caption3 span.border {
  background-color: #f4ece8;
  font-family: 'Josefin Sans', sans-serif;
  color: #150702;
  padding: 10px;
  font-size: 20px;
  z-index: 8;
}

h3 {
  letter-spacing: 5px;
  font: 25px 'Lobster', cursive;
  color: #111;
  margin-top: 29px;
}

h1 {
  letter-spacing: 1px;
  font: 50px 'Lobster', cursive;
  color: #111;
  margin-left: 10px;
  font-weight: lighter;
}

h2 {
  font: 40px 'Josefin Sans', sans-serif;
  color: #150702;
  margin-top: 26px;
  margin-bottom: 5px;
}

h4 {
  letter-spacing: 5px;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    line-height: 2;
}

.about h3::first-letter {
   font-family: 'Lobster', cursive;
   font-size: 60px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .5em;
   padding-bottom: 2px;
}

.about h1::first-letter {
   font-family: 'Lobster', cursive;
   font-size: 70px;
   font-weight: bold;
   font-style: italic;
   text-shadow: .8em;
   padding-bottom: 2px;
   padding-right: 0px;
   font-variant: small-caps;
}

.heading p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 2;
}

p {
  z-index: 8;
  font-family: 'Josefin Sans', sans-serif;
}

/* Top navigation bar */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #7e8165;
  opacity: .9;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;
  top: 0;
  left: 0;
  z-index: 15;
}

.navbar a {
  float: left;
  padding: 14px;
  color: #150702;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  z-index: 15;
  opacity: none;
}

.navbar a:hover {
  font-weight: bold;
  color: #c7dbbf;
  font-size: 18px;
  cursor: pointer;
  z-index: 15;
}

.navbar ion-icon {
  color: #150702;
  z-index: 15;
}

.navbar ion-icon:hover {
  color: #c7dbbf;
}

.main {
  margin-left: 200px;
}

* {
  box-sizing: border-box;
}

/* contact section */
.contactcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  opacity: 1;
  z-index: 10;
}

.imagecontainer {
position: relative;
float: center;
width: 100%;
opacity: 1;
align-content: center;
z-index: 15;
}

.containerimage {
display: block;
cursor: pointer;
float: left;
z-index: 20;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 300px;
width: 300px;
opacity: 0;
transition: .5s ease;
background-color: #63747A;
z-index: 25;
}

.imagecontainer:hover .overlay {
  opacity: 1;
  cursor: pointer;
  z-index: 15;
  }

.text {
color: white;
font-size: 30px;
font-family: 'Josefin Sans', sans-serif;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
z-index: 15;
}

ion-icon {
  color: white;
}

hr.solid {
  border-top: 3px solid #bbb;
}
